svg {
    height: 100px;
    width: 100px;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: row;
    height: 50px;
    width: 100vw;
}

h2 {
    border-bottom: 2px solid black;
    text-align: left;
}

