<!DOCTYPE html>
<html>

<body>


    <div id="header">
        
        <h1><em>{{ title }}</em></h1>
        <p id="aboutMe">
            Jr Full-stack and Game Developer <br>
            Springfield, MO <br>
            417-274-7947 <br>
            brandonbaker16@live.com <br>
            <a href="https://github.com/Jaheeli">https://github.com/Jaheeli</a> <br>
            <a href="www.linkedin.com/in/brandon-baker-684161a4">www.linkedin.com/in/brandon-baker-684161a4</a> <br>
           
            

        </p>
    </div>
    <app-skills></app-skills>
    <app-about-me></app-about-me>
    <app-work-experience></app-work-experience>
    <app-education></app-education>
    
    


</body>

</html>
